.right-menu{
    margin-top: 50px;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: rgba(83, 81, 81, 0.527);
    padding-top: 20px;
    

}
.tittle{
    font-family: "cherolina";

 margin: 50px;
 font-size:200px;
 font-weight: 500;
 color: #0f575f;
 padding-left: 350px;
 }


.bar-item{
    left: 10px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Poppins';
    
    color: #f7f7f7;
    display: block;
}
.bar-item a:hover{
    cursor: pointer;
}


.right-menue a:hover {
    color: #f1f1f1;
    background-color: grey;
  }
  


 

 .top-menue{
     display:flex;
    color:#0f575f;
     margin-top: 0px;
     
 }
 .top-menue a:hover {
    color: #fff;
    background-color: rgba(3, 34, 76, 0.827);
 }



 .imagess img{
     margin-left:300px;
     margin-right:70px;
     border-radius: 35px;

     width: 900px;
     height: 500px;
 }

 .description{
    margin-left:300px;
    margin-right: 300px;    
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 23px;

 }

 .mapss{
    width: 300px;
position: right 0;     margin-top: 60px;
     margin-left: 300px;
     


 }
 .mapss p {
    margin-left: 0px;
    background-color: #0f575f;
width:900px;
     font-size: 50px;
     font-family: "Poppins";
     text-align: center;
     color: blanchedalmond;
     border-top-right-radius: 25px;
     border-bottom-left-radius: 25px;
 }


 .wether{
     margin-top: 500px;
     margin-left: 300px;
     width: 900px;
     


 }

 .wether p {    background-color: #0f575f;

    font-size: 50px;
    font-family: "Poppins";
    text-align: center;
    color: blanchedalmond;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.containerx{
    margin-left: 0px;
}