@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.produit-slider{
    size:100%;
    background-color: rgba(151,183, 176, 0.25);
}
.produit-slider-item
{   
    size: 100%;
    border-radius: 25%;
    font-family:"poppins";

}
.produit-item-link{
    font-family:"poppins";
    text-decoration: none;
    color: #021d20;
    font-size: larger;
    font-weight: bolder;
}
.produit-item-link:hover{
    font-family:"poppins";
    text-decoration: none;
    color: black;
}
.produit-item-title
{
    font-family:"poppins";
    text-align: center;

}