.sliderimg{
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
  .alice-carousel__stage>li
  {
      padding-inline: 1%;
  }
.alice-carousel{
    padding-top: 6%;
}